#headingText{
  text-align: center;
 color: white;
}
#value{
  background: lightgrey;
}
.bg{
  background: black;
  
}
.mx-auto{
  margin: auto;
}
.flex-row{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.items{
  align-items: center;
}
#shadow{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
