#headingText {
  text-align: center;
  color: white;
}
#value {
  background: lightgrey;
}
.bg {
  background: black;
}
.mx-auto {
  margin: auto;
}
.flex-row {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items {
  align-items: center;
}
#shadow {
  border: transparent;
  box-shadow: rgb(227 219 219 / 66%) 0px 22px 70px 4px;
}
