html,
body {
  height: 100%;
  width: 100%;
  background: url(https://thumbs.gfycat.com/AngryMistyAiredaleterrier.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.keys {
  width: 80px;
  padding: 20px;
  background: lightyellow;
  margin: 5px 3px;
  border: 3px solid black;
  border-radius: 50px;
  cursor: pointer;
}
.row1 {
  margin: 5px;
}
#value {
    padding: 20px;
    border-radius: 20px;
    width: 292px;
    font-size: 28px;
    text-align: end;
}
.container {
  border: 4px solid #13695d;
  padding: 23px;
  border-radius: 53px;
  width: 384px;
}
.diff {
  background: yellow;
}
.diffs {
  background: red;
}
#EXTrow {
  display: none;
}
#EXTrow1{
  display: none;

}
#EXTrow2{
    display: none;
  
  }
